

nav > ul{
    display: flex;
    
  
   
}
nav li {
    list-style: none;
   
    margin: auto;
  
    
}

nav li a {
    text-decoration: none;
}

nav li:hover{
   background-color: lightslategray;
}

ul {
  
    background-color: lightgoldenrodyellow;
}
